/*-----------------------

-----------------------*/








/*-----------------------
リセット
-----------------------*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    display: inline-block;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*-----------------------
base
-----------------------*/
html {
  font-size: 62.5%;
  /*=10px */
 }
 body {
  line-height: 1.5;
   font-size: 1.6rem;
    /*16px */
   box-sizing: border-box;
   color: #3e3e3e;
    line-height: 1.45;
    background: #f3f3f3;
 }
img  {
   vertical-align: bottom;
    max-width:100%;
    height: auto;
    object-fit: cover;
 }

ul {
  list-style: none;
}
li {
  list-style: none;
}

a {
   text-decoration: none;
   transition: .3s;
 }
 a:hover {
  transition: .3s;
  opacity: .7;
  cursor: pointer;
}

input {
  box-sizing: border-box;
}
button:hover {
  transition: .3s;
  opacity: .7;
  cursor: pointer;
}

input,textarea {
  resize: none;
  appearance: none;
  outline: none;
  border: none;
  padding: 0;
  background: none;
  border-radius: 0;
  }

select {
  -webkit-appearance: none;
  resize: none;
  outline: none;
  border: none;
  width: 100%;
  height: 100%;
  }

p {
  margin-block-start: 0em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  letter-spacing: 0.5px;
  }
button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
}
/*-----------------------
common
-----------------------*/
.sec {
 padding: 60px 10px;
}
.sec-heading {
  text-align: center;
  font-size: 32px;
}
.inner {
  max-width: 1120px;
  margin: auto;
}
.btns-wrapper {
  display: flex;
  margin-top: 60px;
  justify-content: center;
}
/*-----------------------
header
-----------------------*/
.header {
 width: 100%;
}
.header-inner {
  max-width: 1120px;
  margin: auto;
  height: 100%;
}
.header-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-top: 2px solid #E8E9EC;
}
.header-item {
  width: 168px;
  padding: 18px 0 18px 0;
  box-sizing: border-box;
  text-align: center;
}
.header-link-top {
  color: white;
  display: inline;
}
.header-logo-txt {
  display: inline;
  color: white;
  font-size: 0.75rem;
  margin-left: 28px;
}
.header-logo {
  width: 155px;
  display: inline-block;
}
.header-logo-wrapper {
  background: #898989;
  height: 43px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-btn-wrapper {
  margin-left: auto;
  display: inline-block;
  position: absolute;
  bottom: 30%;
  right: 0;
}
.header-top-logo {
  padding: 5px 10px;
}
.header-logo-main {
  text-align: center;
  position: relative;
  height: 100px;
}
.header-top {
  background: #F9F9F9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-btn {
  color: #ffffff;
  background: #595757;
  padding: 3px 10px
}
.header-link {
  color: #333333;
  font-weight: bold;
}
.header-nav {
  background: #fb5058;
}
.header-nav-list {
  display: flex;
  justify-content: center;
}
.header-nav-link {
  color: #ffff;
  padding: 20px 0;
  display: block;
  letter-spacing:0;
}
.header-nav-link:after {
  content: " ｜ ";
  padding: 0 4px;
}
.header-nav-link:after:last-child{
  content:"" ;
}

.u-m {
  width: 400px;
  margin-top: 30px;
}
.fa-envelope:before {
  content: "\f0e0";
}
.fa-map-marker-alt:before {
  content: "\f3c5";
}
.corona-pc {
  display: block !important;
}
.corona-sp {
  display: none !important;
}
/*-----------------------
mv
-----------------------*/
.bg {
  background: url(./img/bg01.png) no-repeat center bottom;
  height: 100px;
}

.swiper-inner {
width: 900px;
margin: auto;
padding: 30px 0;
}
.footer-slider {
  width: 100%;
  text-align: center;
}

.swiper-button-prev {
  left: -100%;
}

.swiper-button-next {
  right: -100%;
}




/*-----------------------
news
-----------------------*/
.news {
}
.news-item-top {
  display: inline-block;
  margin-top: 50px;
}
.news-list {
  display: flex;
  flex-wrap: wrap;
  margin-top:30px;
}
.news-item {
  margin-right: 30px;
  display: inline-block;
  width: calc(50% - 30px / 2);
}
.news-item:nth-child(2n) {
  margin-right: 0;
  }
.news-item:nth-child(n+3) {
  margin-top: 30px;
  }
.news-item-online {
  display: block;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  width: 60%;
  }

/*-----------------------
movie
-----------------------*/
.movie {
  background-color:#fdf7f9;
}
.movie-txt {
  margin: 1em auto;
  font-size: 20px;
  color: #fc4f57;
  text-align: center;
}
.movie-link {
  font-size: 20px;
  color: #fc4f57;
  border: 1px solid #fc4f57;
  max-width: 300px;
  padding: .5em;
  font-weight: bold;
  display: block;
  text-align: center;
  margin: auto;
}
.movie-link:hover {
  color: white;
  background: #fc4f57;
}
.movie-ttl {
  position: relative;
  padding: 0 45px;
  color: #fc4f57;
  width: 200px;
  margin:  0 auto 30px;
  text-align: center;
  font-size: 15px;
  }
.movie-ttl:before {
  content: '';
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 44px;
  height: 3px;
  background-color: #fc4f57;
  transform: rotate(60deg);
}
.movie-ttl:after {
  content: '';
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 44px;
  height: 3px;
   background-color: #fc4f57;
  transform: rotate(-60deg);
}
.movie-ttl:before {
  left:0;
}
.movie-ttl:after {
  right: 0;
}
.youtube-wrapper {
  max-width:800px;
  margin: auto;
}
.youtube {
  position: relative;
  width: 100%;
  padding-top: 56.25%;/*高さをpaddingで指定(16:9)*/
}
.youtube iframe {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
/*-----------------------
corse
-----------------------*/
.course {
  background: url(./img/bg-pink.gif) no-repeat center bottom;
  background-size: 100% auto;
}
.course-list {
  display: flex;
  flex-wrap: wrap;
}
.course-item {
  margin-right: 30px;
  width: calc(33.3333333% - 60px / 3);
}
.course-item:nth-of-type(3n) {
  margin-right: 0;
  }
.course-item:nth-of-type(n+4) {
  margin-top: 30px;
  }
/*-----------------------
online
-----------------------*/
.online {
  background: url(./img/bg-yellow.gif) no-repeat center bottom;
  background-size: 100% auto;
}
.online-list {
  display: flex;
  flex-wrap: wrap;
}
.online-item {
  margin-right: 10px;
  width: calc(50% - 10px / 2);
}
.online-item:nth-of-type(2n) {
  margin-right: 0;
  }
.online-heading {
  width: 60%;
  margin: auto;
  margin-bottom: 50px;
  text-align: center;
}
/*-----------------------
article
-----------------------*/
.article  {
  background: white;
}
.areablog {
  clear: both;
  overflow: hidden;
}
.facebook-content {
  border-top: 5px solid #fc5057;
  height: 400px;
}
.facebook-content img{
  width: 100%;
}
.article-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.article-item {
  margin-right: 20px;
  width: calc(50% - 20px / 2);
  min-height: 400px;
  box-sizing: border-box;
}
.article-item:nth-of-type(2n) {
  margin-right: 0;
  }
.overflow {
  overflow-y: scroll;
}
.tabblog-list {
  background: #fee5e8;
  height: 120px;
}
.tabblog-item {
  float: left;
  font-size: 12px;
  width: 20%;
  box-sizing: border-box;
}
.tabblog-link {
  display: inline-block;
  white-space: nowrap;
  width: 100%;
  color: #333;
  padding: 10px 0;
  text-align: center;
  font-size: 10px
}
.blog-content {
  background-color: #fafafa;
  padding: 25px;
  border-top: 5px solid #fc5057;
  overflow-y: scroll;
  height: 400px;
  box-sizing: border-box;
  width: 100%;
}
.blognews-list {
  text-align: left;
}
.contentblog a {
  color: #fc5057;
  text-align: left;
  display: flex;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 12px;
}
.link-more {
  display: inline-block;
  float: right;
}
.blognews-list  h4  {
  display: inline;
}
.blognews-item {
  display: flex;
  box-sizing: border-box;
  background: white;
  padding: 20px 0;
  font-weight: bold;
  white-space: nowrap;
  border-bottom: 1px solid #ccc;
}
.blognews-date {
  color: #999;
}
.blognews-txt {

}
/*-----------------------
schedule
-----------------------*/
.schedule {

}
.schedule-ttl {
 color: #fc0507;
}
/*-----------------------
work
-----------------------*/
.work {
  background: url('./img/bg-pink.gif') no-repeat center center/cover;
}
.work-list {
  display: flex;
  flex-wrap: wrap;
}
.work-item {
  margin-right: 20px;
  width: calc(25% - 60px / 4);
}
.work-item:nth-child(4n) {
  margin-right: 0;
  }
.work-item:nth-child(n+5) {
  margin-top: 20px;
  }
.work-item a{
  width: 100%;
}
/*-----------------------
schedule
-----------------------*/
.schedule-ttl {
  text-align: left;
  margin-bottom: 30px;
  font-size: 30px;
  border-bottom: 1px solid #fc0507;
}
.shedule-img {
  width: 60%;
  margin: auto;
}

.schdule-link {
  display: inline-block;
  max-width: 360px;
  padding: 0 20px;
}
.sns-link {
  display: inline-block;
  width: 100%;
  padding: 0 20px;
}
/*-----------------------
footer
-----------------------*/
.footer-access {
  background: #595758;
}
.footer-sns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap
}

.footer-sns-list {
  text-align: center;
}
.footer-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin:20px 40px;
}
.footer-nav {
  text-align: center;
}
.footer-item {
  width: 25%;
  padding: 20px 0;
  border-left: 1px solid #f4f4f4;
  text-align: center;
  box-sizing: border-box;
  padding: 50px 0;
  text-align: center;
  background: white;
}
.footer-item  {
  padding: 20px 0;

}
.footer-link {

}
.footer-link-under {
  color: white;
  letter-spacing: 0;
  height: 100%;
  display: inline-block;
  margin-left: 10px;
  font-size: 14px;
}

.footer-sns-list {
  display: flex;
}
.access-img {
  width: 100%;
}
.access-tel {
  padding: 20px;
  width: 400px;
  display: inline-block;
  padding-top: 20px;
}
.access-address-txt {
  color: #ffffff;
  font-size: 1rem;
  line-height: 1.3125;
  border-top: 1px solid white;
  padding-top: 17px;
  margin-top: 20px;
  text-align: left;
}

.access-wrap {
  display: flex;
  justify-content: space-between;
}
.access-wrap-right {
  width: 300px;
  width: 304px;
  text-align: right;
  padding-top: 40px;
}
.access-wrap-left {
  width: 637px;
  padding-top: 36px;
  padding-bottom: 28px;
  padding-left: 66px;
  text-align: center;
}

.copyrights {
  background: white;
  color: #898989;
  padding: 20px 0 30px;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1;
  text-align: center;
}
.footer-sns {
  padding: 20px;
}
.footer-sns-item {
  margin-left: 10px;
}
.footer-sns-link {
}
.footer-link {
  color: white;
  letter-spacing: 0;
  height: 100%;
  display: inline-block;
}
.corona-sp {
  display: none !important;
}
@media screen and (max-width: 768px) {
/*-----------------------
common
-----------------------*/
.inner {
  width: 100%;
  padding: 0 50px;
  box-sizing: border-box;
}
.btns-wrapper {
  flex-direction: column;
  text-align: center;
}
/*-----------------------
header
-----------------------*/

.header-wrapper {
    display: none;
}
.header-top {
    display: none;
}
.header-inner {
    display: none;
}

.header-logo-txt {
    display: none;
}
.header-nav {
    display: none;
}

.header-logo-wrapper {
   justify-content: left;
   padding: 0 10px;
}
/*-----------------------
news
-----------------------*/
.news-list {
  flex-direction: column;
}
.news-item {
  width: 100%;
}
/*-----------------------
course
-----------------------*/
.course-item {
  margin-right: 30px;
  width: calc(50% - 30px / 2);
}
.course-item:nth-of-type(3n) {
  margin-right: 30px;
  }
.course-item:nth-of-type(2n) {
  margin-right: 0;
  }
.course-item:nth-of-type(n+3) {
  margin-top: 30px;
  }


/*-----------------------
online
-----------------------*/
.online-list {
  justify-content: space-between;
}
.shedule-img {
 width: 100%;
}


/*-----------------------
footer
-----------------------*/
.footer-sns {
  flex-direction: column;
  padding: 20px 0;
}
.footer-sns-list {
  margin: 0 auto 30px;
}
.footer-link-under {
  font-size: 10px;
  white-space: nowrap;
}
.access-wrap {
  flex-direction: column;
    margin: auto;
}

.access-wrap-right {
  width: 100%;
}

.access-wrap-left {
  margin: auto;
  padding: 0;
  padding-top: 20px;
}

.footer-access {
  margin: auto;
}
.access-tel {
box-sizing: border-box;
width: 100%;
}

.access-address-txt {
  border: none;
  text-align: center;
}
.access-wrap {
  flex-direction: column;
}

.access-wrap-right {
  width: 100%
}
.access-wrap-left {
  width: 100%
}
/*-----------------------
work
-----------------------*/
.work-item {
  margin-right: 20px;
  width: calc(50% - 20px / 2);
}
.work-item:nth-child(2n) {
  margin-right: 0;
}
.work-item:nth-child(n+3) {
  margin-top: 20px;
}
/*-----------------------
article
-----------------------*/
.article-list {
  flex-direction: column;
}
.article-item {
  width: 100%;
}
.article-item:nth-child(2n) {
  margin-top: 100px;
}
.online-heading {
  width: 100%;
}
.schdule-link {
  margin: 30px auto 0;
}
.sns-link {
padding: 0px;
margin-top: 20px;
}
